<div>
    <h2>
        <span>Audit Records</span>
        <button class="btn btn-primary float-right jh-create-entity create-audit-record" [routerLink]="['/', { outlets: { popup: ['audit-record-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Audit Record
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="auditRecords">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>What</span></th>
            <th><span>When</span></th>
            <th><span>Why</span></th>
            <th><span>Where</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let auditRecord of auditRecords ;trackBy: trackId">
                <td><a [routerLink]="['../audit-record', auditRecord.id ]">{{auditRecord.id}}</a></td>
                <td>{{auditRecord.what}}</td>
                <td>{{auditRecord.when | date:'mediumDate'}}</td>
                <td>{{auditRecord.why}}</td>
                <td>{{auditRecord.where}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../audit-record', auditRecord.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'audit-record/'+ auditRecord.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'audit-record/'+ auditRecord.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
